In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats
import math
import re
import plotly.express as px
import statsmodels.api as sm

from sqlalchemy import create_engine
import psycopg2

In [2]:
df = pd.read_csv('data/accidental_deaths.csv')
df.head()
new_accidental_death_df = df[['Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()
clean_accidental_death_df = new_accidental_death_df.rename(columns={"Incident Date":"Incident_Date", "State":"State", "City Or County":"CityorCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_accidental_death_df.head()

       Incident_Date     State     CityorCounty  Num_Killed  Num_Injured
0  November 26, 2016  Maryland    Sabillasville           1            0
1  November 26, 2016      Ohio     Grand Rapids           1            0
2  November 24, 2016  New York      Sandy Creek           1            0
3  November 24, 2016   Florida      Black Point           1            0
4  November 23, 2016  Michigan  Powell Township           1            0

In [14]:
mass_shooting_df = pd.read_csv("data/mass_shootings_2016.csv")
#Clean Mass Shooting DataFrame
new_mass_shooting_df = mass_shooting_df[['Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()
new_mass_shooting_df.head()

#Rename Columns
clean_mass_shooting_df = new_mass_shooting_df.rename(columns={"Incident Date":"Incident_Date", "State":"State", "City Or County":"CityorCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_mass_shooting_df.head()

       Incident_Date        State  CityorCounty  Num_Killed  Num_Injured
0  November 26, 2016     Illinois       Chicago           1            5
1  November 25, 2016    Louisiana   New Orleans           0            4
2  November 24, 2016     Kentucky    Louisville           2            5
3  November 24, 2016     New York        Albany           1            3
4  November 23, 2016  Mississippi  Olive Branch           0            4

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import os

# Set environment variables for database credentials

# Construct the database URL
db_url = f"postgresql://{os.environ['DB_USER']}:{os.environ['DB_PASS']}@{os.environ['DB_HOST']}:{os.environ['DB_PORT']}/{os.environ['DB_NAME']}"

try:
    # Create the SQLAlchemy engine
    engine = create_engine(db_url)

    # Connect to the PostgreSQL database
    conn = engine.connect()
    print("Connection successful")
    
 
except SQLAlchemyError as e:
    print(f"Error connecting to the database: {e}")

Connection successful